{%load static%}
<!doctype html>
<html>

<head>
    <title>WebRTC: Still photo capture demo</title>
    <meta charset='utf-8'>
    <script src="{%static 'js/index.js' %}">
    </script>
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <div class="video_div">
        <video class="video" id="output" src="/videos/temp1.webm" autoplay></video>
    </div>
    <div class="overlay">
        <div class="timer">05:00</div>
        <div class="question">Есть ли вероятность, что ты станешь балериной?</div>
    </div>
</body>

</html>