{%load static%}
<!doctype html>
<html>

<head>
    <title>WebRTC: Still photo capture demo</title>
    <meta charset='utf-8'>
    <script src="{%static 'js/index.js' %}">
    </script>
</head>

<body>
    <button id='start'>
        Start
    </button>
    <button id='stop'>
        Stop
    </button>
    <video id='output' muted=true style="width: 100%; height: 100%;"></video>
    <script>
        const URL = 'get_video';
        navigator.mediaDevices.getUserMedia({ audio: true, video: true })
            .then(stream => {
                const mediaRecorder = new MediaRecorder(stream);

                document.querySelector('#start').addEventListener('click', function () {
                    mediaRecorder.start();
                    output.srcObject=stream
                    output.play()
                });
                let audioChunks = [];
                mediaRecorder.addEventListener("dataavailable", function (event) {
                    audioChunks.push(event.data);
                });

                document.querySelector('#stop').addEventListener('click', function () {
                    mediaRecorder.stop();
                    output.pause()
                });

                mediaRecorder.addEventListener("stop", function () {
                    const audioBlob = new Blob(audioChunks, {
                        type: "video/webm"
                    });

                    let fd = new FormData();
                    fd.append('voice', audioBlob);
                    sendVoice(fd);
                    audioChunks = [];
                });
            });

        async function sendVoice(form) {
            let promise = await fetch(URL, {
                method: 'POST',
                body: form
            });
            if (promise.ok) {
                let response = await promise.json();
                console.log(response.data);
                audio.src = response.data;
                audio.controls = true;
                audio.autoplay = true;
                document.querySelector('#messages').appendChild(audio);
            }
        }
    </script>
    сука
</body>

</html>