{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/video_player.css' %}">
  
  <title>Video</title>
  <style>
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="video" data-links='[["Воля", 3, 13], ["1", 13, 17], ["2", 17, 21]]'>
      <video src="videos/temp18.mp4"></video>
    </div>

    <div class="buttons">
      <div class="row">
        <a class="butt" onclick="send_status(this)">Хранитель</a>
        <a class="butt" onclick="send_status(this)">Технолог</a>
        <a class="butt" onclick="send_status(this)">Искатель</a>
        <a class="butt" onclick="send_status(this)">Генератор идей</a>
      </div>

      <div class="row">
        <a class="butt" onclick="send_status(this)">Дипломат</a>
        <a class="butt" onclick="send_status(this)">Предводитель</a>
        <a class="butt" onclick="send_status(this)">Сценарист</a>
        <a class="butt" onclick="send_status(this)">Тактик</a>
      </div>
      
      <div class="row">
        <a class="butt" onclick="send_status(this)">Администратор</a>
        <a class="butt" onclick="send_status(this)">Аналитик</a>
        <a class="butt" onclick="send_status(this)">Позитивист</a>
        <a class="butt" onclick="send_status(this)">Драматург</a>
      </div>
      <div class="row">
        <a class="butt" onclick="send_status(this)">Практик</a>
        <a class="butt" onclick="send_status(this)">Деятель</a>
        <a class="butt" onclick="send_status(this)">Моралист</a>
        <a class="butt" onclick="send_status(this)">Миротворец</a>
      </div>
    </div>
    <div class="row foter">
      <a class="butt left"><< Назад</a>
      <a href="#">Профиль ВК</a>
      <a class="butt right">Далее >></a>
    </div>
  </div>

  <script>
    let ID = "{{video.ident}}"
  </script>
  <script>
    let user = "{{ user.get_username }}"
  </script>
  <script src="{% static 'js/video_player.js' %}"></script>
</body>
</html>