{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/video_player.css' %}">
  
  <title>Video</title>
  <style>
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="video" data-links='[["Воля", 3, 13], ["1", 13, 17], ["2", 17, 21]]'>
      <video src="videos/temp18.mp4"></video>
    </div>

    <div class="buttons">
      <div class="row">
        <a class="butt">Хранитель</a>
        <a class="butt">Технолог</a>
        <a class="butt">Искатель</a>
        <a class="butt">Генератор идей</a>
      </div>

      <div class="row">
        <a class="butt">Дипломат</a>
        <a class="butt">Предводитель</a>
        <a class="butt">Сценарист</a>
        <a class="butt">Тактик</a>
      </div>
      
      <div class="row">
        <a class="butt">Администратор</a>
        <a class="butt">Аналитик</a>
        <a class="butt">Позитивист</a>
        <a class="butt">Драматург</a>
      </div>
      <div class="row">
        <a class="butt">Практик</a>
        <a class="butt">Деятель</a>
        <a class="butt">Моралист</a>
        <a class="butt ">Миротворец</a>
      </div>
    </div>
    <div class="row foter">
      <a class="butt left"><< Назад</a>
      <a href="#">Профиль ВК</a>
      <a class="butt right">Далее >></a>
    </div>
  </div>

  <script src="{% static 'js/video_player.js' %}"></script>
</body>
</html>